* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0c0f13;
    color: white;
    text-align: center;
}

.logo {
    width: 150px;
    margin: 20px auto;
}

/* Título neon animado */
.neon-title {
    font-size: 3rem;
    color: #00ffff;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
    animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
    0% {
        text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    }
    50% {
        text-shadow: 0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff;
    }
    100% {
        text-shadow: 0 0 10px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff;
    }
}

.chamada h2, .features p {
    font-size: 1.8rem;
    margin: 20px 0;
    color: #46d8a4;
}

.features p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.neon-border {
    border: 2px solid #46d8a4;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
    0% {
        box-shadow: 0 0 5px #46d8a4, 0 0 10px #46d8a4;
    }
    100% {
        box-shadow: 0 0 20px #46d8a4, 0 0 40px #46d8a4;
    }
}

/* Seção de vídeo ajustada */
.video-section {
    margin: 30px auto;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    border: 2px solid #46d8a4; /* Borda neon */
    overflow: hidden;
    animation: neon-glow 1.5s infinite alternate;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* Botões escuros para download */
.download {
    margin-top: 40px;
}

.store-images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Estilização dos botões da AppStore e GooglePlay */
.store-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-logo {
    width: 120px; /* Ajuste do tamanho das logos */
    margin-bottom: 10px;
}

/* Botão de download escuro com animação */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b1f24;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Animação do botão neon ao hover */
.btn:hover {
    background-color: #44d8a4;
    color: white;
    box-shadow: 0 0 10px #44d8a4, 0 0 20px #44d8a4;
    transform: scale(1.05);
}

footer {
    margin-top: 40px;
    background-color: #0f0f0f;
    padding: 20px;
}
